<!-- fragments/header.html -->
<header th:fragment="mainHeader">
<!--
        <img src="https://i.ibb.co/fY57x7kz/LOGONOVASTOCK2.png" class="logo-header" alt="Logo">
-->
    <div class="header-top">

        <div class="header-empresa">
            <i class="fa-solid fa-city"></i>
            <strong th:text="${empresaId + ' - ' + empresaUsuario}">Empresa</strong>
        </div>
        <div class="header-filial">
            <i class="fa-solid fa-school-circle-exclamation"></i>
            <small th:text="${filialId + ' - ' + filialUsuario}">Filial</small>
        </div>
    </div>
    <div class="header-bottom">
        <button class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        <div class="header-left">

            <nav class="nav-links">
                <a href="/"><i class="fas fa-house"></i><span>Início</span></a>
                <a href="/mainCliente"><i class="fas fa-users"></i><span>Clientes</span></a>
                <a href="/mainProduto"><i class="fas fa-boxes-stacked"></i><span>Produtos</span></a>
                <a href="/mainEstoque"><i class="fa-solid fa-cart-flatbed"></i><span>Estoques</span></a>
                <a href="/mainRelatorio"><i class="fas fa-chart-line"></i><span>Relatórios</span></a>
            </nav>
        </div>
        <div class="header-right">
            <div class="user-info">
                <i class="fas fa-user-circle"></i>
                <span th:text="${nomeUsuario}">Usuário</span>
                <a href="/logout" title="Sair">
                    <i class="fas fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </div>

</header>

