<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Início - Gestão de Estoque</title>
    <!-- Pré-conexão para melhorar performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        <div class="dashboard">
            <div class="welcome">
                <h3 th:text="'Olá ' + ${nomeUsuario} + ', bem-vindo ao Sistema de Gestão de Estoque! Selecione uma das opções para inicializar suas tarefas'">Olá Usuário, bem-vindo ao Sistema de Gestão de Estoque! Selecione uma das opções para inicializar suas tarefas</h3>
                <img src="https://i.ibb.co/TD2qpJ6w/plimhome.png" alt="plimhome" class="imgIndex">
            </div>


            <div class="modules">
                <a href="/mainCliente" class="card">
                    <i class="fas fa-user-friends"></i>
                    <span>Clientes</span>
                </a>
                <a href="/mainProduto" class="card">
                    <i class="fas fa-cubes"></i>
                    <span>Produtos</span>
                </a>
                <a href="/mainEstoque" class="card">
                    <i class="fas fa-boxes"></i>
                    <span>Estoque</span>
                </a>
                <a href="/mainRelatorio" class="card">
                    <i class="fas fa-chart-line"></i>
                    <span>Relatórios</span>
                </a>
                <a href="/logout" class="card">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </div>
        </div>
    </body>
</html>
